
<p id="notice"><%= notice %></p>

<div id="banner" style="background: <%= @club.banner %>;"></div>

<%= render partial: 'banner' %>

<br>

	
<%= club_achievement_score(@club)%>
<%= @club.banner %>
<br>
<p>
  <strong>Name:</strong>
  <%= @club.name %>
  <%= club_bookings(@club)%>
</p>

<p>
  <strong>Description:</strong>
  <%= @club.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @club.address %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @club.zipcode %>
  
  <% @club.uploads.each do |upload|%>
  <%= link_to 'Destroy', upload, method: :delete, data: { confirm: "Är du säker?"}%>
  <img src="<%= upload.image %>"></img>
  <% end %>
</p>

<strong>Medlemmar</strong><br>
<% @club.users.each do |user| %>
    <%= user.email %><br>
	<%= user.reviews.count %>
<% end %>
<br>
<strong>Events</strong><br>
<%@club.events.each do |event| %>
    Namn: <%= event.title %><br>
    Beskrivning: <%= event.description %>
<% end %>

<br><br>

<% @seen_movies.each do |movie| %>
    <%= movie.title %>
    <%= club_seen_movies(movie.id) %><br>
<% end %>

<br><br>
Lat: <%= @club.latitude %><br>
Long: <%= @club.longitude %><br>

<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>

<br>
<%= render partial: 'users/leave_club' %>
<br><br>

  <div id="map" style='width: 800px; height: 400px;'>
    <script type="text/javascript">
        handler = Gmaps.build('Google');
        handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
            markers = handler.addMarkers(<%=raw @hash.to_json %>)
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
            handler.getMap().setZoom(7);
        });
        function InfoBox(opts) {
            google.maps.OverlayView.call(this);
            this.latlng_ = opts.latlng;
            this.map_ = opts.map;
            this.offsetVertical_ = -195;
            this.offsetHorizontal_ = 0;
            this.height_ = 165;
            this.width_ = 266;

            var me = this;
            this.boundsChangedListener_ =
                    google.maps.event.addListener(this.map_, "bounds_changed", function() {
                        return me.panMap.apply(me);
                    });

            // Once the properties of this OverlayView are initialized, set its map so
            // that we can display it.  This will trigger calls to panes_changed and
            // draw.
            this.setMap(this.map_);
        }
        InfoBox.prototype = new google.maps.OverlayView();
    </script>
  </div>

