<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<div class="row">
  <div class="large-10 large-centered medium-10 medium-centered columns" id="js-fix">
    <div class="row">
      <div class="large-6 columns medium-6 movie-box-wrapper">
        <h4 class="index-heading"><%= @club.name %></h4>
        <div class="content-wrapper">
        <div class="large-8 large-centered medium-8 medium-centered columns content">

          <a href="#" data-reveal-id="club-info"><%= image_tag("mockup.jpg") %></a>

          <div id="club-info" class="reveal-modal padding-fix" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">

            <a class="close-reveal-modal close-fix" aria-label="Close">&#215;</a>
            <h2 class="popup-text"><%= @club.name %></h2>
            <p class="popup-text"> Klubben bildades <%= @club.created_at.strftime("%d/%m-%Y")%></p>
            <p class="popup-text"><%= @club.description %></p>
            <p class="popup-text">Poäng: <%= club_achievement_score(@club)%></p>
            <p class="popup-text">Klubben har <%= @club.users.length %> medlemmar.</p>
            <strong>Medlemmar:</strong><br>
            <% @club.users.each do |user| %>
                <img src="../<%= user.avatar %>.png" alt="User avatar" width="50px" height="50px"/>
                <%= user.firstname %> <%= user.lastname %>
                <br>
            <% end %>
          </div>
        </div>
       </div>
      </div>

      <div class="large-6 columns medium-6 movie-box-wrapper">
        <h4 class="index-heading">Sedda Filmer</h4>
        <div class="content-wrapper">
        <div class="large-8 large-centered medium-8 medium-centered columns content">

          <a href="#" data-reveal-id="seen-movies" class="seen-movies-link"><%= image_tag("mockup.jpg") %></a>

          <div id="seen-movies" class="reveal-modal padding-fix" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
            <a class="close-reveal-modal close-fix" aria-label="Close">&#215;</a>

            <h2 class="popup-text">Sedda Filmer</h2>

              <div id="movies-container" class="centered">
                <ul class="large-block-grid-3 centering-fix" id="masonry-container-club">
                  <% if @seen_movies.any? %>
                      <% @seen_movies.each do |movie| %>

                          <li class="item">
                            <div class="movie-container bordered-grey width-fix">

                              <%= link_to movie, class: 'test-link', remote: true do %>
                                  <div class="movie-link2 image">
                                    <% if movie.image_size == 1 %>
                                        <%= image_tag(movie.videocover, size: "280x382") %>
                                    <% else %>
                                        <%= image_tag(movie.videocover, size: "280x280") %>
                                    <% end  %>
                                  </div>
                                  <div class="movie-description rounded">
                                    <h4><%= movie.title[0..20].gsub(/\s\w+\s*$/,'...') %></h4>
                                    <%= movie.description[0..20].gsub(/\s\w+\s*$/,'...') %>
                                  </div>
                              <% end %>
                            </div>
                          </li>
                      <% end %>
                  <% else %>
                      <p class="popup-text">Den här klubben har inte sett några filmer ännu.</p>
                  <% end %>
                </ul>
              </div>
             </div>
          </div>
        </div>
      </div>
      </div>
      <div class="row">
      <div class="large-6 columns medium-6 movie-box-wrapper upload-mobile-fix">
        <h4 class="index-heading">Filmer/Recensioner</h4>
        <div class="content-wrapper">
        <div class="large-8 large-centered medium-8 medium-centered columns content">

          <a href="#" data-reveal-id="club-movies-reviews" class="club-movies-reviews-link"><%= image_tag('mockup.jpg') %></a>

          <div id="club-movies-reviews" class="reveal-modal padding-fix" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
            <a class="close-reveal-modal close-fix" aria-label="Close">&#215;</a>

            <h2 class="popup-text">Filmer/Recensioner</h2>

            <div id="movies-container" class="centered">
              <ul class="large-block-grid-3 centering-fix" id="masonry-container-club-movies-reviews">

               <% if @club_movies.any? || @reviews.any? %>
                   <% @club_movies.zip(@reviews).each do |movie, review| %>

                        <li class="item">
                          <div class="movie-container bordered-grey width-fix">

                            <%= link_to movie, class: 'test-link', remote: true do %>
                                <div class="movie-link2 image videolink-fix">
                                  <%= raw(youtube_embed(movie.videolink)) %>
                                </div>
                                <div class="movie-description rounded">
                                  <% if movie.title and movie.description %>
                                      <h4><%= movie.title %></h4>
                                      <%= movie.description %>
                                  <% end %>
                                </div>
                            <% end %>
                          </div>
                        </li>
                        <li class="item">
                          <div class="movie-container bordered-grey width-fix">
                            <%= link_to review, class: 'test-link', remote: true do %>
                                <div class="movie-link2 image videolink-fix">
                                  <%= raw(youtube_embed(review.videolink)) %>
                                </div>
                                <div class="movie-description rounded">
                                  <% if review.title and review.description %>
                                      <h4><%= review.title %></h4>
                                      <%= review.description %>
                                  <% end %>
                                </div>
                            <% end %>
                          </div>
                        </li>
                    <% end %>
                <% else %>
                    <p class="popup-text">Den här klubben har inga filmer eller recensioner ännu.</p>
                <% end %>
              </ul>
             </div>
            </div>
          </div>
            <% if user_in_club(@club)  %>
              <%= link_to "<div class='upload-movie'></div>".html_safe, new_club_movie_path %>
              <%= link_to "<div class='upload-review'></div>".html_safe, new_review_path %>
            <% else %>
            <% end %>
        </div>
      </div>

      <div class="large-6 columns medium-6 movie-box-wrapper">
        <h4 class="index-heading">Bilder</h4>
        <div class="content-wrapper">
        <div class="large-8 large-centered medium-8 medium-centered columns content">

          <a href="#" data-reveal-id="club-images"><%= image_tag('mockup.jpg') %></a>

          <div id="club-images" class="reveal-modal padding-fix" data-reveal aria-labelledby="modalTitle" data-reveal aria-hidden="true" role="dialog">
            <a class="close-reveal-modal close-fix" aria-label="Close">&#215;</a>

            <h2 class="popup-text">Bilder</h2>
            <% if @club.uploads.exists? %>
                <div id="thumbs">
                   <div class="large-12 columns">
                      <% @club.uploads.each do |upload|%>
                        <div class="large-3 columns">
                           <a href="<%= upload.image %>"><img src="<%= upload.image %>" width="160px" height="160px"/></a>
                        </div>
                      <% end %>
                   </div>
                </div>
            <% else %>
                <p class="popup-text">Den här klubben har inga bilder ännu.</p>
            <% end %>
          </div>
        </div>
        <% if user_in_club(@club)  %>
            <%= link_to "<div class='upload-image' data-reveal-id='upload-image'></div>".html_safe, "#"%>
        </div>
       </div>
         <div id="upload-image" class="reveal-modal padding-fix" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
            <a class="close-reveal-modal close-fix" aria-label="Close">&#215;</a>
            <h2 class="popup-text">Ladda upp</h2>
               <%= render 'uploads/form', :object => @upload %>
            </div>
        <% else %>
        <% end %>
      </div>
      <div class="row">
      <div class="large-6 columns medium-6 movie-box-wrapper mobile-fix">
        <h4 class="index-heading">Evenemang/Aktiviteter</h4>
        <div class="content-wrapper">
        <div class="large-8 large-centered medium-8 medium-centered columns content">

          <a href="#" data-reveal-id="event-info" class="club-events-link"><% if @club.events.last %><img src="<%= @club.events.last.img %>"><% else %> <p class="white-text">Senaste bilden från evenemang/aktivitet</p> <% end %>"></a>

          <div id="event-info" class="reveal-modal padding-fix" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">

            <a class="close-reveal-modal close-fix" aria-label="Close">&#215;</a>
            <h2 class="popup-text">Evenemang/Aktiviteter</h2>
            <div id="movies-container" class="centered">
              <ul class="large-block-grid-3" id="masonry-container-club-events">
               <% if @club.events.exists? %>
                    <% @club.events.each do |event| %>

                        <li class="item">
                          <div class="movie-container bordered-grey width-fix">


                            <div class="movie-link2 image">
                              <img src="<%= event.img %>" height="255" width="330">
                            </div>
                            <div class="movie-description rounded">
                              <h4><%= event.title %></h4>
                              <%= event.description %>
                            </div>
                          </div>
                        </li>
                      <% end %>
                  <% else %>
                    <p class="popup-text">Den här klubben har inte deltagit på några evenemang eller aktiviteter ännu.</p>
                  <% end %>
                 </ul>
                </div>
              </div>
            </div>
          </div>
        </div>


    <div class="large-6 columns medium-6 movie-box-wrapper">
      <h4 class="index-heading">Filmklubbar</h4>
      <div class="content-wrapper">
        <div class="large-8 large-centered medium-8 medium-centered columns content fix-stuff">
          <a href="#" data-reveal-id="map_id" class="link-fix">
            <div class="show-map">

            </div>
            <div id="map_before">
            <script type="text/javascript">
                var handlerr;
                $(document).on('page:change', function() {

                    handlerr = Gmaps.build('Google');
                    handlerr.buildMap({ provider: {disableDefaultUI: true}, internal: {id: 'map_before'}}, function(){
                        markers = handlerr.addMarkers(<%=raw @hash.to_json %>)
                        handlerr.bounds.extendWith(markers);
                        handlerr.fitMapToBounds();
                        handlerr.map.centerOn(markers[0]);

                    });
                    function InfoBox(opts) {
                        google.maps.OverlayView.call(this);
                        this.latlng_ = opts.latlng;
                        this.map_ = opts.map;
                        this.offsetVertical_ = -195;
                        this.offsetHorizontal_ = 0;
                        this.height_ = 165;
                        this.width_ = 266;

                        var me = this;
                        this.boundsChangedListener_ =
                                google.maps.event.addListener(this.map_, "bounds_changed", function() {
                                    return me.panMap.apply(me);
                                });

                        // Once the properties of this OverlayView are initialized, set its map so
                        // that we can display it.  This will trigger calls to panes_changed and
                        // draw.
                        this.setMap(this.map_);

                    }
                    InfoBox.prototype = new google.maps.OverlayView();
                });

            </script>
          </div>
        </a>

        <div id="map_id" class="reveal-modal padding-fix" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
          <a class="close-reveal-modal close-fix" aria-label="Close">&#215;</a>

          <script type="text/javascript">
              var handler;
              $(document).on('page:change', function() {

                  handler = Gmaps.build('Google');
                  handler.buildMap({ provider: {}, internal: {id: 'map_id'}}, function(){
                      markers = handler.addMarkers(<%=raw @hash.to_json %>)
                      handler.bounds.extendWith(markers);
                      handler.fitMapToBounds();
                      handler.getMap().setZoom(6);
                  });
                  function InfoBox(opts) {
                      google.maps.OverlayView.call(this);
                      this.latlng_ = opts.latlng;
                      this.map_ = opts.map;
                      this.offsetVertical_ = -195;
                      this.offsetHorizontal_ = 0;
                      this.height_ = 165;
                      this.width_ = 266;

                      var me = this;
                      this.boundsChangedListener_ =
                              google.maps.event.addListener(this.map_, "bounds_changed", function() {
                                  return me.panMap.apply(me);
                              });

                      // Once the properties of this OverlayView are initialized, set its map so
                      // that we can display it.  This will trigger calls to panes_changed and
                      // draw.
                      this.setMap(this.map_);

                  }
                  InfoBox.prototype = new google.maps.OverlayView();
              });
            </script>

           </div>
         </div>
        </div>
       </div>
       </div>
        <% if user_in_club(@club) %>
            <%= render partial: 'users/leave_club' %>
        <% end %>
        <br>
    </div>
  </div>

<%= render partial: 'movies/movie_modal' %>