<br>

	
Achievementscore:<%= club_achievement_score(@club)%>

<br>
<p>
  <strong>Name:</strong>
  <%= @club.name %>
  <%= club_bookings(@club)%>
</p>

<p>
  <strong>Description:</strong>
  <%= @club.description %>
</p>

<p>

<p>
  <strong>Zipcode:</strong>
  <%= @club.zipcode %><br>


  <strong>Uploads</strong>
<div id="thumbs">

  
  <% @club.uploads.each do |upload|%>
      <% if user_in_club(@club) %>
        <%= link_to 'Destroy', upload, method: :delete, data: { confirm: "Är du säker?"}%>
      <% end %>
      <a href="<%= upload.image %>" style="background-image:url(<%= upload.image %>)" width="100px" height="100px"></a>
  <% end %>
    </div>
</p>

<strong>Medlemmar</strong><br>
<% @club.users.each do |user| %>
    <%= user.email %><br>
<% end %>
<br>
<strong>Events</strong><br>
<%@club.events.each do |event| %>
    Namn: <%= event.title %><br>
    Beskrivning: <%= event.description %>
<% end %>

<br><br>

<strong>Seen movies</strong><br>

<% @seen_movies.each do |movie| %>
    <%= movie.title %>
    <%= club_seen_movies(movie.id) %><br>
<% end %>

<br><br>

<strong>Reviews</strong><br>

<% @reviews.each do |review| %>
    <%= review %>

<% end %>

<br><br>

<strong>Club movies</strong><br>

<% @club_movies.each do |club_movie| %>
    <%= club_movie.title %>
<% end %>


<br><br>

<%=  %>

<br>
<% if user_in_club(@club) %>
	<%= render partial: 'users/leave_club' %>
<% end %>
<br><br>

  <div id="map" style='width: 800px; height: 400px;'>
    <script type="text/javascript">
        handler = Gmaps.build('Google');
        handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
            markers = handler.addMarkers(<%=raw @hash.to_json %>)
            handler.bounds.extendWith(markers);
			handler.map.centerOn(markers[0])
            handler.getMap().setZoom(7);
        });
        function InfoBox(opts) {
            google.maps.OverlayView.call(this);
            this.latlng_ = opts.latlng;
            this.map_ = opts.map;
            this.offsetVertical_ = -195;
            this.offsetHorizontal_ = 0;
            this.height_ = 165;
            this.width_ = 266;
			this.image = "lock.png"

            var me = this;
            this.boundsChangedListener_ =
                    google.maps.event.addListener(this.map_, "bounds_changed", function() {
                        return me.panMap.apply(me);
                    });

            // Once the properties of this OverlayView are initialized, set its map so
            // that we can display it.  This will trigger calls to panes_changed and
            // draw.
            this.setMap(this.map_);
        }
        InfoBox.prototype = new google.maps.OverlayView();
    </script>
  </div>

