<div class="row">
  <div class="large-10 large-centered medium-10 medium-centered columns media-container" id="js-fix">
    <div id="club-reviews-movies-container" class="centered">
      <ul class="large-block-grid-3 medium-block-grid-2" id="masonry-container">
        <% @club_movies.zip(@reviews).each do |movie, review| %>

            <li class="item">
              <div class="movie-container bordered-grey width-fix">

                <%= link_to movie, remote: true, data: {:"reveal-id" => "movie-modal"} do %>
                    <div class="movie-link2 image videolink-fix">
                      <%= raw(youtube_embed(movie.videolink)) %>
                    </div>
                    <div class="movie-description rounded">
                      <% if movie.title and movie.description %>
                          <h4><%= movie.title %></h4>
                          <%= movie.description %>
                      <% end %>
                    </div>
                <% end %>
              </div>
            </li>
            <li class="item">
              <div class="movie-container bordered-grey width-fix">
                <%= link_to review, remote: true, data: {:"reveal-id" => "movie-modal"} do %>
                    <div class="movie-link2 image videolink-fix">
                      <%= raw(youtube_embed(review.videolink)) %>
                    </div>
                    <div class="movie-description rounded">
                      <% if review.title and review.description %>
                          <h4><%= review.title %></h4>
                          <%= review.description %>
                      <% end %>
                    </div>
                <% end %>
              </div>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
  <%= render partial: 'club_reviews_movies_modal' %>
</div>
