<h2>Byt profilbild</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <div class="large-12 medium-12 small-12 columns">
  	<%= f.label "Välj avatar:", class: 'white-text' %>
    <div class="avatar-image large-3 medium-3 small-6 columns">
  	<img src="/avatar-zlatan.png" id="thumb" alt="avatar" width="100" height="100">
  	<%= f.radio_button(:avatar, 'avatar-zlatan') %>
    </div>
    <div class="avatar-image large-3 medium-3 small-6 columns">
  	<img src="/avatar-robocop.png" id="thumb" alt="avatar" width="100" height="100">
  	<%= f.radio_button(:avatar, 'avatar-robocop') %>
    </div>
    <div class="avatar-image large-3 medium-3 small-6 columns">
  	<img src="/avatar-nicky.png" id="thumb" alt="avatar" width="100" height="100">
  	<%= f.radio_button(:avatar, 'avatar-nicky') %>
    </div>
    <div class="avatar-image large-3 medium-3 small-6 columns">
  	<img src="/avatar-moon.png" id="thumb" alt="avatar" width="100" height="100">
  	<%= f.radio_button(:avatar, 'avatar-moon') %>'
    </div>
    <div class="avatar-image large-3 medium-3 small-6 columns">
  	<img src="/avatar-metropolis.png" id="thumb" alt="avatar" width="100" height="100">
  	<%= f.radio_button(:avatar, 'avatar-metropolis') %>
    </div>
    <div class="avatar-image large-3 medium-3 small-6 columns">
  	<img src="/avatar-little-miss.png" id="thumb" alt="avatar" width="100" height="100">
  	<%= f.radio_button(:avatar, 'avatar-little-miss') %>
    </div>
    <div class="avatar-image large-3 medium-3 small-6 columns">
  	<img src="/avatar-harry.png" id="thumb" alt="avatar" width="100" height="100">
  	<%= f.radio_button(:avatar, 'avatar-harry') %>
    </div>
    <div class="avatar-image large-3 medium-3 small-6 columns">
  	<img src="/avatar-charlie.png" id="thumb" alt="avatar" width="100" height="100">
  	<%= f.radio_button(:avatar, 'avatar-charlie') %>
    </div>
    <div class="avatar-image large-3 medium-3 small-6 columns">
  	<img src="/avatar-best.png" id="thumb" alt="avatar" width="100" height="100">
  	<%= f.radio_button(:avatar, 'avatar-best') %>
    </div>
    <div class="avatar-image large-3 medium-3 small-6 columns">
  	<img src="/avatar-avatar.png" id="thumb" alt="avatar" width="100" height="100">
    <%= f.radio_button(:avatar, 'avatar-avatar') %>
    </div>
    <br><br>
    <div class="actions large-12">
      <br><br><%= f.submit "Spara", class: 'button expand success' %>
    </div><br>
  </div>

<% end %>