<div class="row">
  <div class="large-10 large-centered medium-10 medium-centered columns centering-fix" id="js-fix">
    <div id="movies-container" class="centered">
      <ul class="large-block-grid-3 medium-block-grid-2" id="masonry-container">
        <% @movies.each do |movie| %>

           <li class="item">
              <div class="movie-container bordered-grey width-fix">
                  <%= link_to movie, remote: true, data: {:"reveal-id" => "movie-modal"} do %>
                      <div class="movie-link2 image">
                        <% if movie.image_size == 2 %>
                            <%= image_tag(movie.videocover, size: "280x382") %>
                        <% else %>
                            <%= image_tag(movie.videocover, size: "280x280") %>
                        <% end  %>
                      </div>
                      <div class="movie-description rounded description-fix">
                        <h4 class="movie-title"><%= movie.title %></h4>
                        <%= movie.description.html_safe %>
                        <% if current_user %>
                          <% if current_user.access == 2 %>
                              <%= link_to 'Redigera', edit_movie_path(movie) %> |
                              <%= link_to 'Ta bort', movie, method: :delete, data: { confirm: 'Are you sure?' } %>
                          <% else %>
                          <% end %>
                      <% end %>
                      </div>
                  <% end %>
              </div>
           </li>
        <% end %>
     </ul>
    </div>
  </div>
  <%= render partial: 'movie_modal' %>
</div>
