<div class="row">
  <div class="large-10 large-centered medium-10 medium-centered columns media-container" id="js-fix">
    <div id="movies-container" class="centered">
      <ul class="large-block-grid-3 medium-block-grid-2" id="masonry-container">
        <% @filmschools.each do |movie| %>
            <li class="item">
              <div class="movie-container bordered-grey width-fix">
                <%= link_to movie, remote: true, data: {:"reveal-id" => "filmschool-modal"}, class: 'testt' do %>
                    <div class="movie-link2 image">
                      <% if i.odd? %>
                        <%= image_tag('mockup.jpg') %>
                      <% else %>
                        <img src="http://i2.mirror.co.uk/incoming/article1760559.ece/ALTERNATES/s927b/No%20smoking%20posters%20-%201985.jpg"/>
                      <% end %>
                    </div>
                    <div class="movie-description rounded">
                      <h4><%= movie.title[0..20].gsub(/\s\w+\s*$/,'...') %></h4>
                      <%= movie.description[0..20].gsub(/\s\w+\s*$/,'...') %><br>
                      <% if current_user %>
                          <% if current_user.access == 2 %>
                              <%= link_to 'Redigera', edit_filmschool_path(movie) %> |
                              <%= link_to 'Ta bort', movie, method: :delete, data: { confirm: 'Are you sure?' } %>
                          <% else %>
                          <% end %>
                      <% end %>
                    </div>
                <% end %>
               </div>
              </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<%= render 'filmschool_modal' %>



