<div class="row">
	<div class="large-10 large-centered medium-10 medium-centered columns centering-fix" id="js-fix">
		<div id="movies-container" class="centered">
			<ul class="large-block-grid-3 medium-block-grid-2" id="masonry-container">
				<% @filmschools.each do |movie| %>
					<li class="item">
						<div class="movie-container bordered-grey width-fix">
							<%= link_to movie, remote: true, data: {:"reveal-id" => "filmschool-modal"}, class: 'filmschool-link' do %>
								<div class="movie-link2 image videolink-fix">
									<div class="youtube-left-fix"></div>
									<div class="youtube-right-fix"></div>
									<%= raw(youtube_embed(movie.videolink)) %>
								</div>
								<div class="movie-description rounded description-fix filmschool-description">
									<h4 class="movie-title"><%= movie.title %></h4>
									<%= movie.description.html_safe %>
									<% if current_admin? %>
										<br/>
										<%= link_to '<b>Redigera</b>'.html_safe, edit_filmschool_path(movie), class: 'admin-link' %> |
										<%= link_to '<b>Ta bort</b>'.html_safe, movie, method: :delete, class: 'admin-link', data: { confirm: 'Are you sure?' } %>
									<% end %>
								</div>
							<% end %>
						</div>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
</div>
<%= render 'filmschool_modal' %>