<h1>Listing filmschools</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Videolink</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @filmschools.each do |filmschool| %>
      <tr>
        <td><%= filmschool.title %></td>
        <td><%= filmschool.description %></td>
        <td><%= filmschool.videolink %></td>
        <td><%= link_to 'Show', filmschool %></td>
        <td><%= link_to 'Edit', edit_filmschool_path(filmschool) %></td>
        <td><%= link_to 'Destroy', filmschool, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Filmschool', new_filmschool_path %>
