<% @pending_bookings.each do |booking| %>
    <tr class="b_head">
        <td class="b_content"><%= booking.user.club.name %></td>
        <td class="b_content"><%= booking.movie.title %></td>
      <td class="buttons"><%= link_to 'Visa', booking, :class => "login-button" %></td>
      <td class="buttons"><%= link_to 'Ändra', edit_booking_path(booking), :class => "login-button" %></td>
      <td class="buttons"><%= link_to 'Förstör', booking, method: :delete, data: { confirm: 'Are you sure?' }, :class => "login-button" %></td>
      <td class="buttons"><%= link_to "Godkänn", approved_bookings_booking_path(booking.id), :class => "access login-button" %></td>
    </tr>
<% end %>