<% @approved_users.each do |user| %>
    <tr>
      <td><%= user.firstname %></td>
      <td><%= user.lastname %></td>
      <td><%= user.email %></td>
      <td><%= user.access %></td>
      <td><%= user.phonenumber %></td>
      <td><%= link_to 'Visa', user, :class => "login-button" %></td>
      <td><%= link_to 'Ändra', edit_user_path(user), :class => "login-button" %></td>
      <td><%= link_to 'Förstör', user, method: :delete, data: { confirm: 'Är du säker?' }, :class => "login-button" %></td>
      <td><%= link_to "Neka", disapprove_user_path(user.id), :class => "login-button access" %></td>
      <td><%= link_to "+Admin", admin_approve_user_path(user.id), :class => "login-button access" %></td>
    </tr>
<% end %>