<head xmlns="http://www.w3.org/1999/html">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>

<p id="notice"><%= notice %></p>
<div class="users_box">
  <h1>Väntar på godkännade:</h1>

  <table>

    <thead>
    <tr>
      <th>Förnamn</th>
      <th>Efternamn</th>
      <th>Email</th>
      <th>Behörighet</th>
      <th>Postnummer</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody id="not_approved">
    <%= render 'users/not_approved' %>
    </tbody>
  </table>
  <h1 class="users_h1">Godkända Användare:</h1>

  <table>
    <thead>
    <tr>
      <th>Förnamn</th>
      <th>Efternamn</th>
      <th>Email</th>
      <th>Behörighet</th>
      <th>Postnummer</th>
      <th>Poäng</th>
      <th colspan="3"></th>
    </tr>
    </thead>


    <tbody id="approved">
    <%= render 'users/approve' %>
    </tbody>
  </table>
  <h1 class="users_h1">Admin-Användare:</h1>


  <table>

    <thead>
    <tr>
      <th>Förnamn</th>
      <th>Efternamn</th>
      <th>Email</th>
      <th>Behörighet</th>
      <th>Postnummer</th>
      <th>Poäng</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody id="admin_approved">
    <%= render 'users/admin_approve'%>
    </tbody>
  </table>
  <br>

  <%= link_to "Neka all", disapprove_all_user_path(current_user.id), :class => "access"  %>

</div>