<div class="large-2 medium-2 small-2 columns sidebar" id="sidebar">
	<div class="row">
		<% if current_user %>
			<%= link_to "<div class='menu-logout'></div>".html_safe, destroy_user_session_path, :method => :delete, class: 'menu-text' %><br>
		<% else %>
			<%= link_to "<div class='menu-login'></div>".html_safe, new_user_session_path, class: 'menu-text' %><br>
		<% end %>
		
		<% if current_page? root_path %>
			<%= link_to "<div class='menu-button-selected'>Hem</div>".html_safe, root_path, class: 'menu-text' %>
		<% else %>
			<%= link_to "<div class='menu-button'>Hem</div>".html_safe, root_path, class: 'menu-text' %>
		<% end %>
		
		<% if current_user && current_user.club %>
			<% if current_page? club_path(current_user.club) %>
				<%= link_to "<div class='menu-button4-selected'>Min Klubb</div>".html_safe, club_path(current_user.club), class: 'menu-text', 'data-no-turbolink' => true %>
			<% else %>
				<%= link_to "<div class='menu-button4'>Min Klubb</div>".html_safe, club_path(current_user.club), class: 'menu-text', 'data-no-turbolink' => true %>
			<% end %>
		<% end %>

		<% if current_page? filmriket_path %>
			<%= link_to "<div class='menu-button6-selected'>Vad är Filmriket?</div>".html_safe, filmriket_path, class: 'menu-text' %>
		<% else %>
			<%= link_to "<div class='menu-button6'>Vad är Filmriket?</div>".html_safe, filmriket_path, class: 'menu-text' %>
		<% end %>

		<% if current_page? news_index_path %>
			<%= link_to "<div class='menu-button2-selected'>Nyheter</div>".html_safe, news_index_path, class: 'menu-text' %>
		<% else %>
			<%= link_to "<div class='menu-button2'>Nyheter</div>".html_safe, news_index_path, class: 'menu-text' %>
		<% end %>

		<% if current_page? new_user_registration_path %>
			<%= link_to "<div class='menu-button3-selected'>Bli medlem</div>".html_safe, new_user_registration_path, class: 'menu-text' %>
		<% else %>
			<% unless current_user %>
				<%= link_to "<div class='menu-button3'>Bli medlem</div>".html_safe, new_user_registration_path, class: 'menu-text' %>
			<% end %>
		<% end %>

		<% if current_page? movies_path %>
			<%= link_to "<div class='menu-button4-selected'>Filmer</div>".html_safe, movies_path, class: 'menu-text', 'data-no-turbolink' => true %>
		<% else %>
			<%= link_to "<div class='menu-button4'>Filmer</div>".html_safe, movies_path, class: 'menu-text', 'data-no-turbolink' => true %>
		<% end %>
    
		<% if current_page? club_movies_path %>
			<%= link_to "<div class='menu-button-selected'>Klubbfilmer</div>".html_safe, club_movies_path, class: 'menu-text' %>
		<% else %>
			<%= link_to "<div class='menu-button'>Klubbfilmer</div>".html_safe, club_movies_path, class: 'menu-text', 'data-no-turbolink' => true %>
		<% end %>

		<% if current_page? filmschools_path %>
			<%= link_to "<div class='menu-button5-selected'>Filmskolan</div>".html_safe, filmschools_path, class: 'menu-text', 'data-no-turbolink' => true %>
		<% else %>
			<%= link_to "<div class='menu-button5'>Filmskolan</div>".html_safe, filmschools_path, class: 'menu-text', 'data-no-turbolink' => true %>
		<% end %>
    
		<% if current_page? compete_path %>
			<%= link_to "<div class='menu-button5-selected'>Tävlingar</div>".html_safe, compete_path, class: 'menu-text' %>
		<% else %>
			<%= link_to "<div class='menu-button5'>Tävlingar</div>".html_safe, compete_path, class: 'menu-text' %>
		<% end %>
    
		<% if current_page? about_path %>
			<%= link_to "<div class='menu-button6-selected'>Om Filmriket</div>".html_safe, about_path, class: 'menu-text', 'data-no-turbolink' => true %>
		<% else %>
			<%= link_to "<div class='menu-button6'>Om Filmriket</div>".html_safe, about_path, class: 'menu-text', 'data-no-turbolink' => true %>
		<% end %>

		<% if current_page? contact_path %>
			<%= link_to "<div class='menu-button7-selected'>Kontakt</div>".html_safe, contact_path, class: 'menu-text' %>
		<% else %>
			<%= link_to "<div class='menu-button7'>Kontakt</div>".html_safe, contact_path, class: 'menu-text' %>
		<% end %>
		
		<% if current_user %>
			<div id="wish-container">
				<div class="wish" id="wish-link">
				</div>
				<div class="wish-notice">
				</div>
				<div class="wish-form">
					<%= render partial: 'wishes/form'%>
				</div>
			</div>
		<% end %>
		
		<% if current_admin? %>
			<br>
			<%= link_to "<div class='menu-button'>Admin-logg</div>".html_safe, admin_log_path, class: 'menu-text' %>
			<%= link_to "<div class='menu-button'>Önskemål</div>".html_safe, wishes_path, class: 'menu-text' %>
			<%= link_to "<div class='menu-button'>Användare</div>".html_safe, users_path, class: 'menu-text' %>
			<%= link_to "<div class='menu-button'>Klubbar</div>".html_safe, clubs_path, class: 'menu-text' %>
			<%= link_to "<div class='menu-button'>Bokningar</div>".html_safe, bookings_path, class: 'menu-text' %>
			<%= link_to "<div class='menu-button'>Evenemang</div>".html_safe, events_path, class: 'menu-text' %>
			<%= link_to "<div class='menu-button'>Bilder</div>".html_safe, admin_images_path, class: 'menu-text' %>
			<%= link_to "<div class='menu-button'>Press</div>".html_safe, presses_path, class: 'menu-text' %>
      <%= link_to "<div class='menu-button'>Tävlingar</div>".html_safe, competitions_path, class: 'menu-text' %>
			<%= link_to "<div class='menu-button'>Skapa Nyhet</div>".html_safe, new_news_path, class: 'menu-text' %>
			<%= link_to "<div class='menu-button'>Skapa Klubb</div>".html_safe, new_club_path, class: 'menu-text' %>
			<%= link_to "<div class='menu-button'>Skapa Film</div>".html_safe, new_movie_path, class: 'menu-text' %>
			<%= link_to "<div class='menu-button'>Skapa Filmskola</div>".html_safe, new_filmschool_path, class: 'menu-text' %>
			<%= link_to "<div class='menu-button'>Skapa Event</div>".html_safe, new_event_path, class: 'menu-text' %>
			<%= link_to "<div class='menu-button'>Skapa Press</div>".html_safe, new_press_path, class: 'menu-text' %>
      <%= link_to "<div class='menu-button'>Skapa Tävling</div>".html_safe, new_competition_path, class: 'menu-text' %>
		<% end %>
	</div>
</div>