<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<div class="row">
  <div class="large-10 large-centered medium-10 medium-centered columns" id="js-fix">
    <div class="row">
      <div class="large-6 columns medium-6 movie-box-wrapper">
        <h4 class="index-heading">Om Filmriket</h4>
        <div class="content-wrapper">
        <div class="large-8 large-centered medium-8 medium-centered columns content">

          <a href="#" data-reveal-id="omfilmriket"><%= image_tag("about-ruta1.png") %></a>

          <div id="omfilmriket" class="reveal-modal padding-fix text-fix" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
            <a class="close-reveal-modal close-fix" aria-label="Close">&#215;</a>

            <h2 class="popup-text">Om Filmriket</h2>
            <p class="popup-text">
              <p>I Filmriket g&ouml;r vi tre saker &ndash; ser, pratar och g&ouml;r egen film!</p>

              <p>Filmriket &auml;r ett 3 -&aring;rigt nationellt arvsfondsprojekt som startade h&ouml;sten 2014. Projektet v&auml;nder sig till 12-19 &aring;ringar p&aring; framf&ouml;rallt landsbygden. Vi fokuserar p&aring; mindre platser och st&auml;der d&auml;r det finns ett st&ouml;rre behov av kulturella aktiviteter som filmklubbar.</p>

              <p>Projektet drivs av Reaktor Sydost, Film i J&ouml;nk&ouml;ping och Filmpool Nord, tre resurscentrum f&ouml;r film som arbetar i Kronoberg, Kalmar, Blekinge, J&ouml;nk&ouml;ping och Norrbottens l&auml;n. Studief&ouml;rbundet Bilda har ocks&aring; en stor roll i projektet och har &ouml;kat under det g&aring;ngna &aring;ret. En representant fr&aring;n varje organisation utg&ouml;r styrgruppen. N&auml;r det g&auml;ller filmutbud och distribution av filmerna har vi kontakt och samarbete med Folkets Bio, BUFF och Av-media-centraler.</p>

              <p>M&aring;let f&ouml;r Filmriket &auml;r:<br />
              Inom tre &aring;r starta 100 filmklubbar f&ouml;r och av ungdomar mellan 12-19 &aring;r i hela Sverige.<br />
              Arrangera lokala m&ouml;ten mellan ungdomar i olika &aring;ldrar.<br />
              Hj&auml;lpa en ny generation er&ouml;vra ett bredare filmutbud.<br />
              St&auml;rka sj&auml;lvk&auml;nslan hos ungdomar i &aring;ldersgruppen 12-19 &aring;r.<br />
              Bidra till ett &ouml;kat samh&auml;llsengagemang hos dessa ungdomar.<br />
              Ge ungdomarna ett b&auml;ttre social samvaro genom bredare n&auml;tverk och kontakter.<br />
              Ge ungdomarna ut&ouml;kad kunskap inom r&ouml;rliga medier.</p>

              <p>I Filmriket g&ouml;r vi fr&auml;mst tre saker &ndash; ser, prata och g&ouml;r egen film.<br />
              Se Film<br />
              Filmriket b&ouml;rjade med att erbjuda ett tiotal filmer och i dagsl&auml;get finns det 25 olika filmtitlar f&ouml;r filmklubbarna att v&auml;lja emellan. Eftersom de flesta filmklubbar har sin m&ouml;tesplats p&aring; fritidsg&aring;rdarna s&aring; har vi m&ouml;jlighet att l&aring;na eller streama filmerna fr&aring;n den regionala av-media-centralen. I vissa fall har vi l&aring;nat filmen fr&aring;n Filmcentrum. Vi har ocks&aring; ett samarbete med Folkets Bio kring tre ungdomsfilmer med start i oktober. D&aring; kommer vi att arrangera n&aring;gra exklusiva filmvisningar f&ouml;r v&aring;ra klubbar. Vissa utvalda filmklubbar kommer ocks&aring; fungera som referensgrupp f&ouml;r Folkets Bio.</p>

              <p>
              Filmsamtalet<br />
              Filmerna v&auml;cker m&aring;nga tankar som avspeglas i filmsamtalet och i det egna skapandet. Under filmklubbstr&auml;ffarna har det varit extra tydligt att det finns ett behov av att prata, framf&ouml;rallt om filmen men ocks&aring; om olika h&auml;ndelser i medlemmarnas liv. Vi har anv&auml;nt oss av olika metoder n&auml;r vi har haft filmsamtal. F&ouml;rutom att prata s&aring; vill m&aring;nga rita och skriva ner ord. Filmriket har ocks&aring; gjort askar med v&auml;rdekort. Varje ask best&aring;r av ett femtiotal kort med ord som beskriver ett tillst&aring;nd eller en k&auml;nsla, ibland kan det ocks&aring; vara ett filmtekniskt kort, som varje filmklubb har f&aring;tt. Tanken &auml;r att medlemmarna ska kunna dra kort under samtalet f&ouml;r att f&aring; inspiration till att komma ig&aring;ng med samtalet.<br />
              G&ouml;ra film<br />
              Innan Filmklubbarna ser n&auml;sta film &auml;r g&ouml;r de en egen film. Temat &auml;r fritt och man f&aring;r g&auml;rna inspireras av filmen man precis sett. Filmskapandet i filmklubbarna har onekligen bidragit till en st&ouml;rre kunskap inom r&ouml;rliga medier. Grundkunskaperna varierar mycket mellan klubbarna men vi upplever att alla har h&ouml;jt sin niv&aring;. En del f&ouml;rs&ouml;ker och l&auml;r sig p&aring; helt egen hand medan andra har gjort en kollektiv utveckling. Filmklubbarna f&aring;r en kostnadsfri workshop i hur man filmar och redigerar. Filmklubbarna har ocks&aring; tillg&aring;ng till Filmrikets egna Filmskola d&auml;r det finns massvis med tips p&aring; hur man g&ouml;r film med sin mobil eller surfplatta. F&ouml;rutom att medlemmarna har gjort recensioner och trailers har de b&ouml;rjat g&ouml;ra egna filmer.</p>

              <p>&Ouml;vriga aktiviteter<br />
              &Ouml;vriga aktiviter i Filmklubbarna &auml;r lokala och nationella tr&auml;ffar d&auml;r Filmklubbarna f&aring;r m&ouml;tas och g&ouml;ra aktiviteter tillsammans och utbyta erfarenheter. Filmrikets filmklubbar har bland annat bes&ouml;kt en filminspelning i Lule&aring;, deltagit i Noomaraton, varit med och arrangera BUFF Sm&aring;land, bes&ouml;kt Filminstitutet och Stockmotion f&ouml;r unga filmare. Deltagit i lokala filmkubbstr&auml;ffar i Kalmar och J&ouml;nk&ouml;ping.</p>

              <p>Spridning<br />
              Spridning av projektet sker fr&auml;mst genom sociala medier. H&auml;r finns m&auml;ngder med bilder och filmer, inte minst Filmrikets filmskolefilmer som l&auml;rare anv&auml;nder i klassrummen.<br />
              Fr&aring;n och med oktober &auml;r Filmriket med i &Ouml;ppna Kanalens Veckomagasin varje fredag fram till december. D&aring; visas en filmskolefilmer samt en kort vinjett om Filmriket. Vi upplever att vi har ambassad&ouml;rer runt om i landet som Filmriket i Ljungbyholm, Film i J&ouml;nk&ouml;ping och Av-media i Kalmar som g&auml;rna ber&auml;ttar om v&aring;r verksamhet f&ouml;r andra.<br />
              I samband med BUFF och Noomaraton har vi f&aring;tt en del press i form av tidningsartiklar, radiointervjuer (P4Kronoberg och P4 Kalmar) och tv-inslag p&aring; b&aring;de Sm&aring;landsnytt och &Ouml;ppna Kanalen.</p>
            </p>
          </div>
         </div>
        </div>
      </div>
      <div class="large-6 columns medium-6 movie-box-wrapper">
        <h4 class="index-heading">Partners</h4>
        <div class="content-wrapper">
          <div class="large-8 large-centered medium-8 medium-centered columns content">

            <a href="#" data-reveal-id="partners"><%= image_tag("mockup.jpg") %></a>

            <div id="partners" class="reveal-modal padding-fix text-fix" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
              <a class="close-reveal-modal close-fix" aria-label="Close">&#215;</a>

              <h2 class="popup-text">Filmriket partners</h2>
              <p class="popup-text">
                <p>Projektet drivs av Reaktor Sydost, Film i J&ouml;nk&ouml;ping och Filmpool Nord, tre resurscentrum f&ouml;r film som arbetar i Kronoberg, Kalmar, Blekinge, J&ouml;nk&ouml;ping och Norrbottens l&auml;n. Studief&ouml;rbundet Bilda har ocks&aring; en stor roll i projektet och har &ouml;kat under det g&aring;ngna &aring;ret. En representant fr&aring;n varje organisation utg&ouml;r styrgruppen. N&auml;r det g&auml;ller filmutbud och distribution av filmerna har vi kontakt och samarbete med Folkets Bio, BUFF och Av-media-centraler.</p>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-6 columns medium-6 movie-box-wrapper">
        <h4 class="index-heading">Press</h4>
        <div class="content-wrapper">
          <div class="large-8 large-centered medium-8 medium-centered columns content">

            <a href="#" data-reveal-id="media"><%= image_tag("about-ruta3.png") %></a>

            <div id="media" class="reveal-modal padding-fix" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
              <a class="close-reveal-modal close-fix" aria-label="Close">&#215;</a>

              <h2 class="popup-text">Press</h2>
              <p class="popup-text">
                Medialänkar artiklar annan media om Filmriket
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="large-6 columns medium-6 movie-box-wrapper">
        <h4 class="index-heading">Bilder</h4>
        <div class="content-wrapper">
        <div class="large-8 large-centered columns medium-8 medium-centered content">

          <a href="#" data-reveal-id="socialamedier"><%= image_tag("omfilmriket-bilder.png") %></a>

          <div id="socialamedier" class="reveal-modal padding-fix" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
            <a class="close-reveal-modal close-fix" aria-label="Close">&#215;</a>

            <h2 class="popup-text">Sociala Medier Bilder?</h2>
            <p class="popup-text">
              Medialänkar artiklar annan media om Filmriket
            </p>
          </div>
         </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-6 columns medium-6 movie-box-wrapper">
        <h4 class="index-heading">Filmklubbar</h4>
        <div class="content-wrapper">
          <div class="large-8 large-centered medium-8 medium-centered columns content fix-stuff">
            <a href="#" data-reveal-id="map_id" class="link-fix">
                <div class="show-map">

                </div>
                <div id="map_before">
                  <script type="text/javascript">
                      var handlerr;
                      $(document).on('page:change', function() {

                      handlerr = Gmaps.build('Google');
                      handlerr.buildMap({ provider: {disableDefaultUI: true}, internal: {id: 'map_before'}}, function(){
                          markers = handlerr.addMarkers(<%=raw @hash.to_json %>)
                          handlerr.bounds.extendWith(markers);
                          handlerr.fitMapToBounds();
                          handler.getMap().setZoom(6);

                      });
                      function InfoBox(opts) {
                          google.maps.OverlayView.call(this);
                          this.latlng_ = opts.latlng;
                          this.map_ = opts.map;
                          this.offsetVertical_ = -195;
                          this.offsetHorizontal_ = 0;
                          this.height_ = 165;
                          this.width_ = 266;

                          var me = this;
                          this.boundsChangedListener_ =
                                  google.maps.event.addListener(this.map_, "bounds_changed", function() {
                                      return me.panMap.apply(me);
                                  });

                          // Once the properties of this OverlayView are initialized, set its map so
                          // that we can display it.  This will trigger calls to panes_changed and
                          // draw.
                          this.setMap(this.map_);

                      }
                      InfoBox.prototype = new google.maps.OverlayView();
                      });

                  </script>
                </div>
            </a>

            <div id="map_id" class="reveal-modal padding-fix" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
              <a class="close-reveal-modal close-fix" aria-label="Close">&#215;</a>

                <script type="text/javascript">
                    var handler;
                    $(document).on('page:change', function() {

                    handler = Gmaps.build('Google');
                    handler.buildMap({ provider: {}, internal: {id: 'map_id'}}, function(){
                        markers = handler.addMarkers(<%=raw @hash.to_json %>)
                        handler.bounds.extendWith(markers);
                        handler.fitMapToBounds();
                        handler.getMap().setZoom(6);
                    });
                    function InfoBox(opts) {
                        google.maps.OverlayView.call(this);
                        this.latlng_ = opts.latlng;
                        this.map_ = opts.map;
                        this.offsetVertical_ = -195;
                        this.offsetHorizontal_ = 0;
                        this.height_ = 165;
                        this.width_ = 266;

                        var me = this;
                        this.boundsChangedListener_ =
                                google.maps.event.addListener(this.map_, "bounds_changed", function() {
                                    return me.panMap.apply(me);
                                });

                        // Once the properties of this OverlayView are initialized, set its map so
                        // that we can display it.  This will trigger calls to panes_changed and
                        // draw.
                        this.setMap(this.map_);

                    }
                    InfoBox.prototype = new google.maps.OverlayView();
                    });
                </script>

            </div>
          </div>
        </div>
      </div>
      <div class="large-6 columns medium-6 movie-box-wrapper">
        <h4 class="index-heading">Nyheter</h4>
        <div class="content-wrapper">
            <div class="large-8 large-centered medium-8 medium-centered columns content">
              <%= link_to image_tag("mockup.jpg"), news_index_path %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>





