<br><br>
RECENSIONER
<p>
  <% @reviews.each do |review| %>
    <%= review.title %>
  <% end %>
</p>

<br>

KLUBBFILMER
<p>
  <% @club_movies.each do |club| %>
    <%= club.title %>
  <% end %>
</p>

<br>

KOMMENTARER
<p>
  <% @movie_comments.each do |comment| %>
    <%= comment.message %><br>
  <% end %>
</p>

UPPLADNINGAR

<% @uploads.each do |upload| %>
	<img src="<%= upload.image %>" width="150" height="100" alt="<%= upload.club.name %>"></img>
	<%= upload.club.name %>
	<%= link_to 'Destroy', upload, method: :delete, data: { confirm: "Är du säker?"}%>
<% end %>