<div class="row">
	<div class="large-10 large-centered medium-10 medium-centered columns margin-top-fix" id="js-fix">
		<div class="row">
			<div class="large-6 columns popup-grey contact-box">
					<p class="contact-text-white">Kontakta:</p>
					<p class="contact-text">Kicki Rydemalm</p>
					<p class="contact-text">kicki@reaktorsydost.se</p>
					<p class="contact-text">Projektledare</p>
					<p class="contact-text">0733 47 79 12</p>
					<div class="contact-circle"><%= image_tag('f.png', size: "40x31")%></div>
				</div>
				<div class="large-6 columns popup-grey contact-box">
					<p class="contact-text-white">Kontakta:</p>
					<p class="contact-text">Martin Klevegård</p>
					<p class="contact-text">martin.klevegard@bilda.nu</p>
					<p class="contact-text">Filmklubbar</p>
				<p class="contact-text">0768 64 80 88</p>
				<div class="contact-circle"><%= image_tag('f.png', size: "40x31")%></div>
			</div>
		</div>
		<div class="row">
			<div class="large-6 columns popup-grey contact-box">
					<p class="contact-text-white">Kontakta:</p>
					<p class="contact-text">Anette Färdig</p>
					<p class="contact-text">anette@reaktorsydost.se</p>
					<p class="contact-text">Filmklubbar</p>
					<p class="contact-text">073 500 05 40</p>
					<div class="contact-circle"><%= image_tag('f.png', size: "40x31")%></div>
				</div>
				<div class="large-6 columns popup-grey contact-box">
					<p class="contact-text-white">Kontakta:</p>
					<p class="contact-text">Camilla Carnmo</p>
					<p class="contact-text">camilla@reaktorsydost.se</p>
					<p class="contact-text">Projektledare</p>
				<p class="contact-text">070 610 09 68</p>
				<div class="contact-circle"><%= image_tag('f.png', size: "40x31")%></div>
			</div>
		</div>
		<div class="row">
			<div class="large-6 columns popup-grey contact-box">
					<p class="contact-text-white">Kontakta:</p>
					<p class="contact-text">Emilia Nordgren</p>
					<p class="contact-text">emilia@reaktorsydost.se</p>
					<p class="contact-text">Projektmedarbetare</p>
					<p class="contact-text">072 053 21 80</p>
					<div class="contact-circle"><%= image_tag('f.png', size: "40x31")%></div>
				</div>
			</div>
		</div>
	</div>
</div>
