<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<% if @competition %>
  <script>
    questions = <%= @competition.questions.count %>
    <% if current_user %>
      user_id = <%= current_user.id %>
    <% else %>
      user_id = 0
    <% end %>
    competition_id = <%= @competition.id %>
  </script>
<% end %>

<div class="row">
	<div class="large-10 large-centered medium-10 medium-centered columns centering-fix" id="js-fix">
		<div class="row">
			<div class="large-6 columns medium-6 movie-box-wrapper" data-equalizer="testt">
				<h4 class="index-heading">Se, prata och gör film!</h4>
				<div class="large-8 large-centered mediunm-8 medium-centered columns content-video" data-equalizer-watch="testt">
					<div class="video-container">
						<%= raw(youtube_embed('https://www.youtube.com/watch?v=RMEA4IDjAh4')) %>
					</div>
				</div>
			</div>
			
			<div class="large-6 columns medium-6 movie-box-wrapper">
				<h4 class="index-heading">Nyheter</h4>
				<div class="content-wrapper">
					<div class="large-8 large-centered mediunm-8 medium-centered columns content">
						<% if News.first %>
							<%= link_to image_tag(News.first.img), news_index_path %>
						<% else %>
							<%= link_to image_tag("mockup.jpg"), news_index_path %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
    
    <div class="row">
			<div class="large-6 columns medium-6 movie-box-wrapper">
				<h4 class="index-heading">Filmrikets adventskalender</h4>
				<div class="content-wrapper">
					<div class="large-8 large-centered medium-8 medium-centered columns content">
						<a href="#" data-reveal-id="club2-info"><%= image_tag("advent.jpg") %></a>
						<div id="club2-info" class="reveal-modal popup-grey padding-fix" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
							<a class="close-reveal-modal close-fix" aria-label="Close">&#215;</a>
							<h2 class="popup-text">Filmrikets adventskalender</h2>
                                                        <p class="popup-text">
							
        				<div class="club-movie">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLYtv3Z5xWZgxfHqGoN9PRIlGiRx2nLgrg" frameborder="0" allowfullscreen></iframe>
        				</div>
				      </div>
				      </div>
				    </div>
				  </div>

        <div class="large-6 columns medium-6 movie-box-wrapper">
          <h4 class="index-heading">Bio Fokus Jönköping</h4>
          <div class="content-wrapper">
            <div class="large-8 large-centered medium-8 medium-centered columns content">

              <a href="#" data-reveal-id="partners"><%= image_tag("bio.png") %></a>

              <div id="partners" class="reveal-modal popup-grey padding-fix text-fix" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
                <a class="close-reveal-modal close-fix" aria-label="Close">&#215;</a>

                <h2 class="popup-text">I höst bjuder Filmriket sina medlemmar på bio!</h2>
                <p class="popup-text">
                  Vi visar tre filmer. Idol, det borde finnas regler och Mitt liv som zucchini, en animerad film som vi är glada att få förhandsvisa innan premiären.<br>
		  Alla filmer visas på Biograf Fokus på stadsbiblioteket i Jönköping.<br>
		  Alla visningar inleds med mingel och avslutas med filmsnack.
		</p>

                <h2 class="popup-text">Idol</h2>
		<p class="popup-text">
		  28 september kl 18.30: Idol<br>
		  18.00 -18.30 mingel med snacks.<br>
		  Mohammed bor i Gaza och drömmer om att bli sångare. En dag tar han sig med falskt visum till uttagningen av Idol i Kairo för att sedan vinna finalen av Arab Idol 2013.<br>
Filmen bygger på Idolvinnaren Mohammed Assafs liv.
</p>
        				<div class="club-movie">
        					<%= raw(youtube_embed_popup("https://www.youtube.com/watch?v=mP3IwALna08")) %>
        				</div>
					<h2 class="popup-text">Mitt liv som Zucchini</h2>
                <p class="popup-text">
		  19 oktober kl 18.30: Mitt liv som Zucchini<br>
		  18.00 -18.30: mingel med snacks.<br>
		  När Zucchinis mamma dör hamnar han på barnhem och lär känna andra barn som övergivits av sina föräldrar på olika sätt. Här lär han sig saker om ensamhet och sorg, vänska och kärlek.<br>
		  (Frankrike 2016, 66 minuter, svenskt tal)<br>
FÖRHANDSVISNING!
</p>
        				<div class="club-movie">
        					<%= raw(youtube_embed_popup("https://www.youtube.com/watch?v=4d9N5Y_sN8Q")) %>
        				</div>
                <h2 class="popup-text">Det borde finnas regler</h2>
                <p class="popup-text">
		  23 november kl 18.30: Det borde finnas regler<br><br>

		  REGISSÖRBESÖK!<br>
		  Linda-Maria Birbeck filmens regissör är med under visningen och har ett samtal efter filmen.<br><br>
18.00 - 18.30: mingel med snacks.<br>
Mia, Miriam och Karl är 14 år och bor i en tråkig liten stad. De övar sig på att bli vuxna. <br>
Men hur gör man? Det borde finnas regler! <br>
(Sverige 2015, 90 minuter, svenskt tal, svensk text)
</p>
        				<div class="club-movie">
        					<%= raw(youtube_embed_popup("https://www.youtube.com/watch?v=R6usZhmFqJQ")) %>
        				</div>
<br>                             <h2 class="popup-text">    <%= link_to "Anmäl dig här!", "https://docs.google.com/forms/d/1-HUmBKBFNoznjLPPIevdUC2Cmex8kLP5d76LItumEJ8/viewform?edit_requested=true", class: 'white-text menu-text-no-background', target: "_blank"  %>
              </div>
            </div>
          </div>
        </div>
  	  </div>
    
  <div class="row">
  	<div class="large-6 columns medium-6 movie-box-wrapper">
  		<h4 class="index-heading">Filmklubbar</h4>
  		<div class="content-wrapper">
  			<div class="large-8 large-centered medium-8 medium-centered columns content-map fix-stuff">
  				<a href="#" data-reveal-id="map_id" class="link-fix">
  					<div class="show-map">
  					</div>
  					<div id="map_before">
  						<script type="text/javascript">
  						var handlerrr;
  						$(document).on('page:change', function() {
  							handlerr = Gmaps.build('Google', { markers: { clusterer: null } });
  							handlerr.buildMap({ provider: {disableDefaultUI: true}, internal: {id: 'map_before'}}, function(){
  								markers = handlerr.addMarkers(<%=raw @hash.to_json %>)
  								handlerr.bounds.extendWith(markers);
  								handlerr.fitMapToBounds();
  								handlerr.getMap().setZoom(5);
  							});
  							function InfoBox(opts) {
  								google.maps.OverlayView.call(this);
  								this.latlng_ = opts.latlng;
  								this.map_ = opts.map;
  								this.offsetVertical_ = -195;
  								this.offsetHorizontal_ = 0;
  								this.height_ = 165;
  								this.width_ = 266;
  								var me = this;
  								this.boundsChangedListener_ =
  								google.maps.event.addListener(this.map_, "bounds_changed", function() {
  									return me.panMap.apply(me);
  								});
  								// Once the properties of this OverlayView are initialized, set its map so
  								// that we can display it.  This will trigger calls to panes_changed and
  								// draw.
  								this.setMap(this.map_);
  							}
  							InfoBox.prototype = new google.maps.OverlayView();
  						});
  						</script>
  					</div>
  				</a>

  				<div id="map_id" class="reveal-modal padding-fix" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  					<a class="close-reveal-modal close-fix" aria-label="Close">&#215;</a>
  					<script type="text/javascript">
  					var handler;
  					$(document).on('page:change', function() {
  						handler = Gmaps.build('Google', { markers: { clusterer: null } });
  						handler.buildMap({ provider: {}, internal: {id: 'map_id'}}, function(){
  							markers = handler.addMarkers(<%=raw @hash.to_json %>)
  							handler.bounds.extendWith(markers);
  							handler.fitMapToBounds();
  							handler.getMap().setZoom(6);
  						});
  						function InfoBox(opts) {
  							google.maps.OverlayView.call(this);
  							this.latlng_ = opts.latlng;
  							this.map_ = opts.map;
  							this.offsetVertical_ = -195;
  							this.offsetHorizontal_ = 0;
  							this.height_ = 165;
  							this.width_ = 266;
  							var me = this;
  							this.boundsChangedListener_ =
  							google.maps.event.addListener(this.map_, "bounds_changed", function() {
  								return me.panMap.apply(me);
  							});
  							// Once the properties of this OverlayView are initialized, set its map so
  							// that we can display it.  This will trigger calls to panes_changed and
  							// draw.
  							this.setMap(this.map_);
  						}
  						InfoBox.prototype = new google.maps.OverlayView();
  					});
  					</script>
  				</div>
  			</div>
  		</div>
    </div>
  	<div class="large-6 columns medium-6 movie-box-wrapper">
  		<h4 class="index-heading">Om Filmriket</h4>
  		<div class="content-wrapper">
  			<div class="large-8 large-centered mediunm-8 medium-centered  columns content">
  				<%= link_to image_tag('index-ruta3.png'), about_path, 'data-no-turbolink' => true %>
  			</div>
  		</div>
  	</div>
  </div>
  </div>
</div>

