<div class="row">
<div class="large-10 large-centered medium-10 medium-centered columns black-links" id="js-fix">
<div class="listing">
  <% @news.each do |news| %>
      <div class="row">
        <div class="large-6 columns medium-6 movie-box-wrapper">
          <div class="content-wrapper big-screen-fix">
            <h4 class="index-heading">&nbsp;</h4>
            <div class="large-8 large-centered medium-8 medium-centered columns content">
              <%= image_tag(news.img) %>
            </div>
          </div>
        </div>
        <div class="large-6 columns medium-6 tablet-fix">
          <div class="content-wrapper news-content big-screen-content">
            <div class="large-12 large-centered medium-12 medium-centered columns">
              <h2><%= news.title.html_safe %> </h2></span>
              <div class="news-content-container">
                <div class="news-category">
                  <%= news.category.upcase %>:&nbsp;
                </div>            
                <%= news.content.html_safe %>
              </div>
            </div>
          </div>
        </div>
        </div>
		 	 	<% if current_user %>
		        <% if current_user.access == 2 %>
		            <%= link_to 'Redigera', edit_news_path(news) %> |
		            <%= link_to 'Ta bort', news, method: :delete, data: { confirm: 'Are you sure?' } %>
		        <% else %>
		        <% end %>
		    	<% end %>
      <div class="news-border">
      </div>
			<% end %>
</div>
</div>
</div>
<%= will_paginate @news, class: 'paginate-text center-text', previous_label: image_tag('previous-arrow.png'), next_label: image_tag('next-arrow.png'), link_separator: '&nbsp;&nbsp;' %>
<br>