<div class="row">
<div class="large-10 large-centered medium-10 medium-centered columns" id="js-fix">
<div class="listing">
  <% @news.each do |news| %>
      <div class="row">
        <div class="large-6 columns medium-6 movie-box-wrapper">
          <div class="content-wrapper big-screen-fix">
            <h4 class="index-heading">&nbsp;</h4>
            <div class="large-8 large-centered medium-8 medium-centered columns content">
              <%= image_tag(news.img) %>
            </div>
          </div>
        </div>
        <div class="large-6 columns medium-6 tablet-fix">
          <div class="content-wrapper news-content big-screen-content">
            <div class="large-8 large-centered medium-11 medium-centered columns">
              <span><h2><%= news.category %>: <%= news.title.html_safe %> </h2></span>
              <span><p> <%= news.content.html_safe %> </p></span>
            </div>
          </div>
        </div>
        </div>
      <div class="news-border">
      </div>
  <% end %>
</div>
</div>
</div>
<%= will_paginate @news, class: 'paginate-text center-text', previous_label: image_tag('previous-arrow.png'), next_label: image_tag('next-arrow.png') %>
<br>