<div class="large-10 large-centered medium-10 medium-centered columns" id="js-fix">
<h2>Ny Recension</h2>
<%= form_for(@review) do |f| %>
 <div class="row">
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   <div class="large-12 columns">
    <%= f.cktext_area :description, :cols => '500' %><br>
  </div>
   <div class="large-12 columns">
    <%= f.label "Film", class: 'white-text' %>
    <%= f.hidden_field :movie_id, :value => movies_to_pick %>
    <%= f.collection_select :movie_id, movies_to_pick, :id, :title, {multiple: true, 'style' => 'height:100px, width:100px'} %></p>
  </div>
   <div class="large-12 columns">
    <%= f.submit "Skapa", class: 'button expand' %>
  </div>
  </div>
<% end %>

</div>