<p>
	<strong>Title:</strong>
	<%= @review.title %>
</p>
<p>
	<strong>Description:</strong>
	<%= @review.description %>
</p>
<p>
	<strong>Videolink:</strong>
	<%= @review.videolink %>
</p>
<p>
	<strong>Active:</strong>
	<%= @review.active %>
</p>
<p>
	<strong>User:</strong>
	<%= @review.user %>
</p>
